<div class="container text-center">
  <div class="row">
    <h3 class="stocksColumn">Stocks</h3>
    <div class="col" id="stocks">
      <div>
        <div class="cardStocks" id="firstStock">
          <div class="card-body card-content">
            <h5 class="card-title">{{ stocksData?.quoteType?.shortName }}</h5>
            <div class="card-text">
              Current Price: ${{ stocksData?.financialData?.currentPrice?.fmt }}
              <br />
              <div
                [ngClass]="{
                  positive: stocksData?.price?.regularMarketChange?.fmt > 0,
                  negative: stocksData?.price?.regularMarketChange?.fmt < 0
                }"
              >
                Today: ${{ stocksData?.price?.regularMarketChange?.fmt }} ({{
                  stocksData?.price?.regularMarketChangePercent?.fmt
                }})
              </div>
              Market Cap:
              {{ stocksData?.price?.marketCap?.fmt }}
              <br />
              Volume:
              {{ stocksData?.summaryDetail?.volume?.fmt }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" id="stocksChart">
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-outline-dark btn-sm">
          <input
            type="radio"
            name="options"
            id="1dButton"
            autocomplete="off"
            (click)="updateChart('1d')"
          />
          1d
        </label>
        <label class="btn btn-outline-dark btn-sm">
          <input
            type="radio"
            name="options"
            id="5dButton"
            autocomplete="off"
            (click)="updateChart('5d')"
          />
          5d
        </label>
        <label class="btn btn-outline-dark btn-sm">
          <input
            type="radio"
            name="options"
            id="1moButton"
            autocomplete="off"
            (click)="updateChart('1mo')"
            checked
          />
          1mo
        </label>
        <label class="btn btn-outline-dark btn-sm">
          <input
            type="radio"
            name="options"
            id="3moButton"
            autocomplete="off"
            (click)="updateChart('3mo')"
          />
          3mo
        </label>
        <label class="btn btn-outline-dark btn-sm">
          <input
            type="radio"
            name="options"
            id="6moButton"
            autocomplete="off"
            (click)="updateChart('6mo')"
          />
          6mo
        </label>
        <label class="btn btn-outline-dark btn-sm">
          <input
            type="radio"
            name="options"
            id="1yButton"
            autocomplete="off"
            (click)="updateChart('1y')"
          />
          1y
        </label>
        <label class="btn btn-outline-dark btn-sm">
          <input
            type="radio"
            name="options"
            id="2yButton"
            autocomplete="off"
            (click)="updateChart('2y')"
          />
          2y
        </label>
        <label class="btn btn-outline-dark btn-sm">
          <input
            type="radio"
            name="options"
            id="5yButton"
            autocomplete="off"
            (click)="updateChart('5y')"
          />
          5y
        </label>
        <label class="btn btn-outline-dark btn-sm">
          <input
            type="radio"
            name="options"
            id="10yButton"
            autocomplete="off"
            (click)="updateChart('10y')"
          />
          10y
        </label>
        <label class="btn btn-outline-dark btn-sm">
          <input
            type="radio"
            name="options"
            id="ytdButton"
            autocomplete="off"
            (click)="updateChart('ytd')"
          />
          ytd
        </label>
        <label class="btn btn-outline-dark btn-sm">
          <input
            type="radio"
            name="options"
            id="maxButton"
            autocomplete="off"
            (click)="updateChart('max')"
          />
          max
        </label>
      </div>
      <div class="chart-container">
        <canvas id="MyChartTwo">{{ chart }}</canvas>
      </div>
    </div>
  </div>
</div>
